@CHARSET "ISO-8859-1";/** Add css rules here for your application. */

body {
  text-align: center;
}	


h1 {
  font-size: 2em;
  font-weight: bold;
  color: black;
  margin: 40px 0px 70px;
  text-align: center;
}


.gwt-TabPanel {
	color: black;
	position: relative;
	top: 50x;
	left: 680px;
}
  



