<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
	<icon></icon>


	<!-- Servlets -->
	<servlet>
		<servlet-name>HooplaServiceImpl</servlet-name>
		<servlet-class>de.eorganization.hoopla.server.services.HooplaServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>HooplaServiceImpl</servlet-name>
		<url-pattern>/hoopla/hoopla</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>loginService</servlet-name>
		<servlet-class>de.eorganization.hoopla.server.services.LoginServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>loginService</servlet-name>
		<url-pattern>/hoopla/login</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>templateImport</servlet-name>
		<servlet-class>de.eorganization.hoopla.server.servlets.TemplateImportServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>templateImport</servlet-name>
		<url-pattern>/hoopla/import</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>templateExport</servlet-name>
		<servlet-class>de.eorganization.hoopla.server.servlets.TemplateExportServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>templateExport</servlet-name>
		<url-pattern>/hoopla/export</url-pattern>
	</servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>Hoopla.html</welcome-file>
	</welcome-file-list>

</web-app>
